<section id="title" class="contained-title-img">
  <img src="assets/img/logo.png" title="{{'title' | translate}}" alt="{{'title' | translate}}" />
</section>

<section>
  <p class="blue extra-plus-size fancy text-center">
    {{'Régine et Olivier' | translate}}
  </p>

  <p class="blue plus-size text-center fancy">
    {{'vous accueillent' | translate}}<br />
    {{'au cœur du Périgord' | translate}}
  </p>
</section>

<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/img/joubertie_orange.jpg" alt="Random second slide" class="img-rounded" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/house.jpg" alt="Random second slide" class="img-rounded" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/beds.jpg" alt="Random third slide" class="img-rounded" />
</ng-template>
</ngb-carousel>
