<section id="title" class="contained-title-img">
  <img src="{{assetsURL}}/img/logo.png" title="{{'title' | translate}}" alt="{{'title' | translate}}" />
</section>

<section class="domain-title my-5">
  <div class="v-align-quarter shadow-black white fancy">
    <p class="extra-plus-size text-center">
      {{'Régine et Olivier' | translate}}
    </p>
    <p class="plus-size text-center">
      {{'vous accueillent' | translate}}<br />
      {{'au cœur du Périgord' | translate}}
    </p>
  </div>
</section>

<hr />

<section class="my-5">
  <div class="row">
    <div class="col-sm-5">
      <h2 class="text-center mb-3">{{'Lieu' | translate}}</h2>
      <p class="text-center">
        {{'Parc de 1,5 hectares' | translate}}<br />
        {{'Piscine sécurisée' | translate}}<br />
        {{'Barbecue' | translate}}
      </p>

      <p class="text-center" *ngIf="false">
        <i class="fa fa-fw fa-lg fa-cutlery blue" aria-hidden="true"></i><br />
        {{'Table d\'hôtes proposée le soir du lundi au vendredi' | translate}}
      </p>

      <p class="text-center">
        <i class="fa fa-fw fa-lg fa-paw blue" aria-hidden="true"></i><br />
        {{'Chiens admis' | translate}}
      </p>
    </div>
    <div class="col-sm-7">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="{{assetsURL}}/img/domain.jpg" alt="Random second slide" class="capped" />
          <div class="carousel-caption">
            <h3>{{'Parc de 1,5 hectares' | translate}}</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{assetsURL}}/img/swimming-pool.jpg" alt="Random second slide" class="capped" />
          <div class="carousel-caption">
            <h3>{{'Piscine sécurisée' | translate}}</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{assetsURL}}/img/barbecue.jpg" alt="Random third slide" class="capped" />
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</section>

<hr />

<section class="my-5">
  <div class="row">
    <div class="col-sm-7">
      <img src="{{assetsURL}}/img/map.png" class="capped" />
    </div>
    <div class="col-sm-5">
      <h2 class="text-center mb-3">{{'Accès' | translate}}</h2>
      <p class="text-center">
        {{'title' | translate}},
        {{'au cœur du Périgord' | translate}}
      </p>

      <p class="text-center">
        <i class="fa fa-fw fa-lg fa-car blue" aria-hidden="true"></i><br />
        45 min {{'de' | translate}} Lascaux<br />
        35 min {{'de' | translate}} Les Eyzies<br />
        1h35 {{'de' | translate}} Bordeaux<br />
      </p>

      <p class="text-center">
        <i class="fa fa-fw fa-lg fa-plane blue" aria-hidden="true"></i><br />
        1h35 {{'de' | translate}} {{'l\'aéroport de Bordeaux-Mérignac' | translate}}<br />
      </p>
    </div>
  </div>
</section>

<section>
  <agm-map [latitude]="centre.lat" [longitude]="centre.lng" [zoom]="centre.zoom">
    <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="marker.url" *ngFor="let marker of mapsData">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        {{marker.title}}
      </ng-template>
    </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</section>
