<div class="wrapper">
  <div class="container container-white">
    <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">
      <a class="navbar-brand joubertie" [routerLink]="['/']" (click)="navbarCollapsed = true">
        {{'title' | translate}}
      </a>

      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
        [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/lodges']" (click)="navbarCollapsed = true">
              {{'lodges' | translate}}
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/rooms']" (click)="navbarCollapsed = true">
              {{'rooms' | translate}}
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/gallery']" (click)="navbarCollapsed = true">
              {{'gallerie' | translate}}
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/contact']" (click)="navbarCollapsed = true">
              {{'contact' | translate}}
            </a>
          </li>
        </ul>
        <span class="d-none d-lg-inline">
          <ul class="navbar-nav mr-auto langs">
            <li class="nav-item" [ngClass]="{'active': lang == 'en'}">
              <button class="nav-link btn btn-link" (click)="onTranslate('en')">en</button>
            </li>
            <li class="nav-item" [ngClass]="{'active': lang == 'fr'}">
              <button class="nav-link btn btn-link" (click)="onTranslate('fr')">fr</button>
            </li>
          </ul>
        </span>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="mt-5 mb-0 pb-1">
      <hr />
      <div class="row">
        <div class="col-sm-4 text-center">
          <h6>{{'Réservations' | translate}}</h6>
          <a href="mailto:olivierchantry@hotmail.com">olivierchantry@hotmail.com</a>
        </div>
        <div class="col-sm-4 text-center">
          <h6>{{'Adresse' | translate}}</h6>
          La Joubertie<br />
          24830 Salon,
          France
        </div>
        <div class="col-sm-4 text-center">
          <h6>{{'Contact' | translate}}</h6>
          <a href="mailto:lajoubertie@outlook.com">lajoubertie@outlook.com</a>
        </div>
      </div>
      <p class="text-center mt-3 mb-0">
        <a href="#" class="blue" title="Facebook"><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span></a>
        <a href="#" class="blue" title="Facebook"><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></a>
        <a href="#" class="blue" title="Facebook"><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span></a>
      </p>
      <p class="text-center mt-1 mb-0">
        ©{{year}} {{'title' | translate}}
      </p>
    </footer>

  </div>
</div>
