<h1>{{'Nos gîtes' | translate}}</h1>

<div class="row lodge">
  <div class="col-sm-5 rm-g">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/beds.jpg" alt="Random third slide" class="thumb" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/joubertie_orange.jpg" alt="Random second slide" class="thumb" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/pool.jpg" alt="Random second slide" class="thumb" />
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-sm-2 hr-right">
    <div class="blue">
      <div class="info">
        4
        <i class="fa fa-fw fa-user" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'personnes' | translate}}</div>
    </div>
    <div class="blue">
      <div class="info">
        2
        <i class="fa fa-fw fa-bed" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'chambres' | translate}}</div>
    </div>
    <div class="blue">
      <div class="info">
        2
        <i class="fa fa-fw fa-bath" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'salles de bains' | translate}}</div>
    </div>
  </div>
  <div class="col-sm-5">
    <h2>{{'Gîte 4 personnes' | translate}}</h2>
    <p>
      2 chambres avec : 2 salles de bains et WC, cuisine équipée, séjour, TV, terrasse
    </p>
    <div class="price">
      770€ / 7 nuits
    </div>
  </div>
</div>

<div class="row lodge mt-3">
  <div class="col-sm-5 rm-g">
    <img src="assets/img/beds.jpg" class="thumb" alt="" title="" />
  </div>
  <div class="col-sm-2 hr-right">
    <div class="blue">
      <div class="info">
        2
        <i class="fa fa-fw fa-user" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'personnes' | translate}}</div>
    </div>
    <div class="blue">
      <div class="info">
        1
        <i class="fa fa-fw fa-bed" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'chambres' | translate}}</div>
    </div>
    <div class="blue">
      <div class="info">
        1
        <i class="fa fa-fw fa-bath" aria-hidden="true"></i>
      </div>
      <div class="text-center">{{'salles de bains' | translate}}</div>
    </div>
  </div>
  <div class="col-sm-5">
    <h2>{{'Gîte 2 personnes' | translate}}</h2>
    <p>
      1 chambre avec : 1 salle de bains et WC, cuisine équipée, séjour, TV, terrasse
    </p>
    <div class="price">
      550€ / 7 nuits
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">{{'Lieu' | translate}}</h2>
      <p class="text-center">
        {{'Parc de 1,5 hectares' | translate}}<br />
        {{'Piscine sécurisée' | translate}}<br />
        {{'Barbecue' | translate}}
      </p>

      <p class="text-center">
        <i class="fa fa-fw fa-lg fa-cutlery blue" aria-hidden="true"></i><br />
        {{'Table d\'hôtes proposée le soir du lundi au vendredi' | translate}}
      </p>

      <p class="text-center">
        <i class="fa fa-fw fa-lg fa-paw blue" aria-hidden="true"></i><br />
        {{'Chiens admis' | translate}}
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/pool.jpg" class="capped" />
    </div>
  </div>
</div>
