/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: YouthAndBeauty;
  src: url(/assets/fonts/Youth-and-Beauty.otf);
}

.wrapper {
  background-attachment: fixed;
  background-image: url('/assets/img/small-background.jpg');
  background-size: cover;
  min-height: 100vh;
}

.joubertie {
  text-transform: capitalize;
  font-variant: normal;
  font-family: YouthAndBeauty, cursive;
  font-size: 1.4em;
}

h1, h2 {
  font-family: YouthAndBeauty, cursive;
  color: rgb(136, 165, 196);
}

.blue {
  color: rgb(136, 165, 196);
}

.white {
  color: white;
}

.shadow-black {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.carousel:focus {
  outline-style:none;
  box-shadow:none;
}

.fancy {
  font-variant: normal;
  font-family: YouthAndBeauty, cursive;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.v-align-third {
  position: relative;
  top: 66%;
  transform: translateY(-66%);
}

.v-align-quarter {
  position: relative;
  top: 75%;
  transform: translateY(-75%);
}
