<div class="row lodge my-5">
  <div class="col-sm-5 rm-g">
    <div *ngIf="!lodge.hasPictures()" class="v-align text-center">
      <i class="fa fa-picture-o fa-5x blue" aria-hidden="true"></i>
    </div>
    <ngb-carousel *ngIf="lodge.hasPictures()">
      <ng-template ngbSlide *ngFor="let picture of lodge.getPictures()">
        <img src="{{picture.getMediumURL()}}" [alt]="picture.getAlt()" class="thumb" />
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-sm-2 hr-right">
    <div class="v-align">
      <div class="blue">
        <div class="info">
          {{lodge.getPeople()}}
          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
        </div>
        <div class="text-center">{{'personnes' | translate:lodge.getPeopleSuffix()}}</div>
      </div>
      <div class="blue">
        <div class="info">
          {{lodge.getRooms()}}
          <i class="fa fa-fw fa-bed" aria-hidden="true"></i>
        </div>
        <div class="text-center">{{'chambres' | translate:lodge.getRoomsSuffix()}}</div>
      </div>
      <div class="blue">
        <div class="info">
          {{lodge.getBathrooms()}}
          <i class="fa fa-fw fa-bath" aria-hidden="true"></i>
        </div>
        <div class="text-center">{{'salles de bains' | translate:lodge.getBathroomsSuffix()}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <h2 [innerHTML]="lodge.getTitle(lang)"></h2>
    <div [innerHTML]="lodge.getExcerpt(lang)"></div>
    <button (click)="selectPost(lodge.getSlug())" class="btn btn-sm btn-outline-primary">
      {{ 'en savoir plus' | translate }}
    </button>
    <div class="price">
      {{lodge.getPrice().getValue()}}€ / {{'nuits' | translate:lodge.getPrice().getSingularNights()}}
      <div class="info-price" *ngIf="lodge.getPrice().getNights() > 1">
        {{'nuits' | translate:lodge.getPrice().getNightsSuffix()}} minimum
      </div>
    </div>
  </div>
</div>
