.lodge {
  color: rgba(0,0,0,0.7);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  background-color: rgb(254,254,254);
  margin: 15px 0;
}

.lodge h2 {
  color: rgba(0,0,0,0.7);
  font-family: arial;
}

.thumb {
  width: 100%;
}

.info {
  font-size: 2em;
  text-align: center;
}

.hr-right {
  border-right: solid 1px rgb(240,240,240);
  box-shadow: 2px 0 2px -1px rgba(255,255,255,0.9);
}

.price {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 2em;
  color: rgba(0,0,0,0.6);
}

.info-price {
  font-size: 0.5em;
  text-align: center;
  margin-top: -10px;
  font-style: italic;
}

.rm-g {
  padding: 0 !important;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 764px) {
  .v-align {
    text-align: center;
    margin-bottom: 25px;
  }
  .blue {
    display: inline-block;
    margin: 0 14px;
  }
  .my-5 {
    margin-top: 0 !important;
  }
  .lodge h2 {
    text-align: center;
  }
}
