<calendar-header [(view)]="view"
  [(viewDate)]="viewDate">
</calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div>
    <span class="cal-day-number size-fixed">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <calendar-events [events]="day.events"></calendar-events>
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    {{ 'Récupération du calendrier' | translate }}
  </div>
</ng-template>

<mwl-calendar-month-view
  *ngIf="events | async; else loading; let events"
  [viewDate]="viewDate"
  [events]="events"
  [locale]="locale"
  [weekStartsOn]="localeWeek"
  [activeDayIsOpen]="false"
  [cellTemplate]="customCellTemplate"
  (beforeViewRender)="beforeMonthViewRender($event)">
</mwl-calendar-month-view>
