.available,
.booked {
  color: white;
  text-align: center;
  padding: 2px;
}
.available {
  background-color: rgb(136, 165, 196) !important;
}

.booked {
  background-color: rgb(204, 154, 153) !important;
}
